<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <nav class="navbar">
        <div class="navbar__container">
          <a href="/expense/listar" class="page-link">Listar</a>
          <a href="/expense/editar" class="page-link">Editar</a>
          <a href="/sobre" class="page-link">Sobre</a>
        </div>
      </nav>
      <div class="content">
        <section>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo debitis sit nobis iure libero a, explicabo fuga excepturi enim inventore maiores id tempora vel quo ad? Nesciunt, vitae dolorum.
          Ab exercitationem molestias quisquam id. Omnis quas aliquid laudantium, pariatur quisquam velit natus, voluptatum ipsa reprehenderit voluptatem beatae explicabo sit praesentium ullam, facere nesciunt veniam necessitatibus repudiandae numquam. Sit, quo.
          A tempore dignissimos, aspernatur provident, voluptates odit quibusdam totam nostrum voluptas mollitia magni esse corporis consectetur similique ad deleniti beatae et commodi ipsa iusto tenetur dolor! Reiciendis excepturi ratione officia.
          Excepturi vero tempora quam porro vitae modi nostrum pariatur a quos molestias rerum quod fuga, accusamus earum illo libero aliquid omnis optio amet saepe consectetur adipisci. Sunt ab in beatae.
          Provident nisi ratione neque omnis ad facere aliquam distinctio architecto amet molestiae! Iusto tempora dolorem recusandae ullam, sequi facilis architecto cumque quam tempore illo, magnam nisi quis, asperiores voluptatibus nobis.
          Facere aut, ex dolores error magnam quaerat cumque animi ducimus eum voluptate quae nisi autem id maiores deserunt sit recusandae earum molestiae! Culpa asperiores modi debitis, hic iste dolor laudantium.
          Temporibus, ut quaerat. Dignissimos nam sunt suscipit atque id illo possimus eius temporibus ratione! Ducimus atque possimus quia aut suscipit recusandae quas odit. Minus minima ullam quae? Quisquam, soluta voluptatem!
          Dignissimos veniam quis enim, incidunt ratione architecto nulla sapiente perspiciatis? Officia minima consequatur, odio eius velit aliquid, voluptas sed praesentium fuga eaque aliquam, pariatur neque perferendis dolor necessitatibus natus temporibus?
          Cumque ex, amet omnis, maiores expedita exercitationem quia ipsam, error et saepe fuga quod officia cupiditate nam non. Libero quia incidunt esse numquam illo molestiae repellendus excepturi optio, nemo voluptas!
          Quo molestiae expedita nihil quaerat delectus ipsam pariatur in, alias, autem et eum dolore necessitatibus aliquid nulla ab non unde earum porro asperiores. Dolorum cupiditate deserunt culpa sed eos maxime.
        </section>
      </div>
      <footer class="footer">
        <div class="footer__container">
          <h1><%= title %> &copy 2021</h1>
        </div>
      </footer>
    </main>
  </body>
</html>
