<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/listar.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <nav class="navbar">
        <div class="navbar__container">
          <a href="" class="page-link">Listar</a>
          <a href="" class="page-link">Editar</a>
          <a href="" class="page-link">Sobre</a>
        </div>
      </nav>
      <div class="content">
        <section>
          <% for( let expense of expenses) {%>
            <h1><%=Object.keys(expense).map(key=>expense[key])%></h1>
          <% } %>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__container">
          <h1><%= title %> &copy 2021</h1>
        </div>
      </footer>
    </main>
  </body>
</html>
